@font-face {
    font-family: 'poppinsbold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #490163;
    color:antiquewhite;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

}
.background{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/components/images/capa-classroom.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin-left: -270px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height: 70px;
    font-size: 30px;
    
}


li {
    display: inline-block;
    justify-content: end;
    margin: 40px;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-between;
    
}

a {
    margin: 2px;
    color: #ee87ce;
    font-family: poppinsbold;
    
}

a:hover {
    color: antiquewhite;
    transition: 0.5s all;
}

#links {
    border: 3px solid  #ee87ce;
    padding: 4px;
    border-radius: 35px;
}

#links:hover {
    background-color: #ee87ce;
    color: white
}

h1 {
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
   
}

h2 {
    font-size: 30px;
    line-height: 22px;
    font-family: poppinsbold;
}

#conheca {
    backdrop-filter: blur(100px);
    margin-left: 0;
    font-size: 35px;
    line-height: 30px;
    font-family: poppinsbold;
    font-weight: bolder;
    text-align: left;
}

#learn{    
    padding: 0;
    margin-right:0px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
}
span {
    font-family:fantasy;
}

p {
    font-size: 20px;
    line-height: 20px;
    max-width: 500px;
    font-family:poppinsbold;
}

h3 {
    text-justify: newspaper;
    line-height: 25px;
    margin-top: 50px;
    font-size: 20px;
    font-family: poppinslight;
    max-width: 800px;
    border: 1px solid antiquewhite;
    padding: 3px;
    border-radius: 15px;
}


#logoBarbara {
    padding: 0px;
    margin: 0px;
    align-items: start;
    display: flex;
    justify-content:right;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: double 10px #ee87ce;
}


form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #ee87ce;
    color: antiquewhite;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
    transition: 0.5s;
}

input {
    margin-top: 15px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
